<html>
<head>
</head>
Make Schedule
<form method="POST" class="form">
	{% csrf_token %}
	<p>Event Name</p>
	{{ form.event }}
	<p>Location</p>
	{{ form.location }}
	<p>Category</p>
	{{ form.category }}
	<p>Waktu & Tanggal</p>
	<p>
	{{ form.date }}
	</p>
    <a href=""><button type="button" class="button delete">Back</button></a>
	<input type="submit" class="button" value="Submit" />
</form>
</body>
</html>