<html>
<head>
</head>
<body>
	<p>Today - {{ time_repr }}</p>
	<a href="make">
		<button class="button">Create Jadwal</button>
	</a>    
	<p>
    {% for j in jadwal %}
		<br>
		{{ j.category }} - {{ j.event }}
		<h4>di {{ j.location }}</h4>
		<p>{{ j.date }} </p>
		<form action="remove" method="POST" >
		{% csrf_token %}
		<input type="hidden" value="{{ j.id }}" name="id" />
		<input class="button delete" type="submit" value="Delete" />
        </form>
		<p><br>
    {% endfor %}
</body>
</html>